
$path-img: url('../images/path.svg');
$logo-img: url('../images/Group.svg');
$logo-face-img: url('../images/logo-face.svg');
$logo-face-dark-img: url('../images/logo-face-dark.svg');
$awards-img: url('../images/awards.png');
$member1-img: url('../images/member1.svg');
$member2-img: url('../images/member2.svg');
$member3-img: url('../images/member3.svg');
$member4-img: url('../images/member4.svg');

$bg-color: #001435;
$work-color: #021e4d;
$menu-hover-color: #ff6000;
$white-color: #ffffff;

$menu-height: 123px;
$menu-small-height: 80px;


body {
	width: 100%;
	margin: 0;
}

.wrapper {
	display: flex;
	flex-direction: column;
}


p.contacts {
	width: 100%;
	height: auto;
	color: $white-color;
}

.container.contacts {
	flex-direction: row;
	background: $work-color;
	padding-bottom: 1px;
	align-items: flex-start;
	height: calc(100vh - #{$menu-height});
	@media(max-width: 1400px) {
		height: calc(100vh - #{$menu-small-height});
	}
	@media(max-width: 960px) {
		height: calc(100vh - (#{$menu-small-height} / 2));
	}
	@media(max-width: 800px) {
		flex-direction: column;
		align-items: center;
	}
}

.map {
	left: 0;
	top: 0;
	width: 100%;
	height: calc(100vh - #{$menu-height});
	@media(max-width: 1400px) {
		height: calc(100vh - #{$menu-small-height});
	}
	@media(max-width: 960px) {
		height: calc(100vh - (#{$menu-small-height} / 2));
	}
}

.contacts-logo {
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.path-image.bottom {
	transform: scaleY(-1);
	top: 25%;
	bottom: 10%;
}

.card-text.contacts {
	left: 5%;
	height: calc(100vh - 40vh - #{$menu-height});
	position: flex;
	flex-direction: column;
	margin-top: calc(40vh - #{$menu-height});
	@media(max-width: 1400px) {
		magrin-top: calc(40vh - #{$menu-small-height});
		height: calc(100vh - 40vh - #{$menu-small-height});
	}
	@media(max-width: 960px) {
		height: calc(100vh - (#{$menu-small-height} / 2));
		margin-top: calc(40vh - (#{$menu-small-height} / 2));
	}
}

.big-logo.contacts {
	z-index: 111;
	width: 50%;
	background: $logo-face-dark-img;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

h1.contacts {
	width: 370px;
	height: 1em;
	color: #ffffff;
	font-family: "San Francisco Display";
	font-size: 45px;
	font-weight: 700;
	letter-spacing: -1.09px;
	line-height: 31px;
	text-transform: uppercase;
}

$line-logo-height: 123px;

.line-logo {
	position: relative;
	top: 0;
	margin-left: 100px;
	width: 0;
	height: $line-logo-height;
	border: 2px solid $white-color;
	margin-right: 0;
	@media(max-width: 960px) {
		border: 1px solid $white-color;
		margin-top: 20px;
		margin-left: 0;
		height: calc(#{$line-logo-height} / 2);
	}
	@media(max-width: 720px) {
		height: calc(#{$line-logo-height} / 3);
	}
}

$logo-text-width: 370px;
$logo-text-height: 60px;
$logo-text-font-size: 34px;
$logo-text-font-width: 700;

.logo-text {
	margin-left: 100px;
	margin-bottom: 2px;
	position: relative;
	top: 65px;
	left: 0;
	width: $logo-text-width;
	height: $logo-text-height;
	color: $white-color;
	font-family: "San Francisco Display";
	font-size: $logo-text-font-size;
	font-weight: $logo-text-font-width;
	letter-spacing: -0.82px;
	line-height: 31px;
	text-transform: uppercase;
	@media(max-width: 960px) {
		margin-left: auto;
		text-align: center;
		top: 0;
		height: calc(#{$logo-text-height} / 2);
		width: calc(#{$logo-text-width} / 2);
		font-size: calc(#{$logo-text-font-size} / 2);
		font-weight: calc(#{$logo-text-font-width} / 2);
	}
	@media(max-width: 720px) {
		height: calc(#{$logo-text-height} / 3);
		width: calc(#{$logo-text-width} / 3);
		font-size: calc(#{$logo-text-font-size} / 3);
		font-weight: calc(#{$logo-text-font-width} / 3);
	}
	@media(max-width: 500px) {
		height: calc(#{$logo-text-height} / 4);
		width: calc(#{$logo-text-width} / 4);
		font-size: calc(#{$logo-text-font-size} / 4);
		font-weight: calc(#{$logo-text-font-width} / 4);
	}
}

.center-image {
	display: flex;
	position: relative;
	flex-direction: row;
	top: 0;
	@media(max-width: 960px) {
		flex-direction: column;
		align-items: center;
	}
	align-items: flex-start;
}

$logo-img-width: 233px;
$logo-img-height: 123px;

.logo-image {
	position: relative;
	top: 0;
	left: 0;
	background: $logo-img;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	width: $logo-img-width;
	height: $logo-img-height;
	@media(max-width: 960px) {
		width: calc(#{$logo-img-width} / 2);
		height: calc(#{$logo-img-height} / 2);
		margin: auto;
	}
	@media(max-width: 960px) {
		width: calc(#{$logo-img-width} / 3);
		height: calc(#{$logo-img-height} / 3);
	}
}

.header {
	background-color: white; 
}

$path-image-width: 114px;
$path-image-height: 57px;

.path-image {
	position: relative;
	top: 30%;
	width: $path-image-width;
	height: $path-image-height;
	background: $path-img;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	@media(max-width: 960px) {
		top: 20%;
		width: calc(#{$path-image-width} / 2);
		height: calc(#{$path-image-height} / 2);
	}
	@media(max-width: 720px) {
		width: calc(#{$path-image-width} / 3);
		height: calc(#{$path-image-height} / 3);
	}
	@media(max-width: 500px) {
		top: 10px;
		width: calc(#{$path-image-width} / 4);
		height: calc(#{$path-image-height} / 4);
	}
}

.mission {
	position: relative;
}

.menu-item {
	text-decoration: none;
	width: 107px;
	height: 33px;
	color: $white-color;
	font-family: "San Francisco Display";
	font-size: 34px;
	font-weight: 400;
	letter-spacing: -0.82px;
	line-height: 31px;
	cursor: pointer;
	margin: 10px 40px 10px 40px;
	text-align: center;
}

.menu-item:hover {
	color: $menu-hover-color;
}

.container {
	display: flex;
	width: 100%;
	height: 100vh;
	background: $bg-color;
	z-index: 16;
	align-items: center;
	flex-direction: column;
  justify-content: center;
	@media(max-width: 960px) {
		justify-content: center;
	}
}

.container.content {
	background: $white-color;
	flex-direction: row;
	justify-content: flex-start;
	height: calc(100vh - #{$menu-height});
	@media(max-width: 1400px) {
		height: calc(100vh - #{$menu-small-height});
	}
	@media(max-width: 960px) {
		height: calc(100vh - (#{$menu-small-height} / 2));
	}
}

.big-logo {
	width: 100%;
	height: calc(100vh - #{$menu-height});
	left: 100%;
	background: $logo-face-img;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	z-index: 80;
	@media(max-width: 1400px) {
		height: calc(100vh - #{$menu-small-height});
	}
	@media(max-width: 960px) {
		height: calc(100vh - (#{$menu-small-height} / 2));
	}
}

.big-logo.fixed {
	margin-top: $menu-height;
	@media(max-width: 1400px) {
		margin-top: $menu-small-height;
	}
	@media(max-width: 960px) {
		margin-top: calc(#{$menu-small-height} / 2);
	}
}

.big-logo.team {
	-webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.container.content.fixed {
	height: 100vh;
}

$awards-img-width: 768px;
$awards-img-height: 147px;

.photos {
	background: $awards-img;
	position: relative;
	top: 0;
	left: 0;
	width: 768px;
	height: 147px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	margin: 35px 0 35px 0;
	@media(max-width: 1700px) {
		width: calc(#{$awards-img-width} / 2.2);
		height: calc(#{$awards-img-height} / 2.2);
		margin-top: 15px;
	}
	@media(max-width: 960px) {
		width: calc(#{$awards-img-width} / 3);
		height: calc(#{$awards-img-height} / 3);
		margin-top: 10px;
	}
	@media(max-width: 960px) {
		width: calc(#{$awards-img-width} / 4);
		height: calc(#{$awards-img-height} / 4);
		margin-top: 10px;
	}
	@media(max-width: 500px) {
		width: calc(#{$awards-img-width} / 8);
		height: calc(#{$awards-img-height} / 8);
	}
}

$h1-font-height: 45px;
$h1-font-width: 700;
$h1-margin-top: 15px;
$h1-margin-bottom: 15px;

h1 {
	width: 100%;
	height: 3%;
	color: #001435;
	font-family: "San Francisco Display";
	font-size: $h1-font-height;
	font-weight: $h1-font-width;
	letter-spacing: -1.09px;
	line-height: 31px;
	text-transform: uppercase;
	@media(max-width: 1700px) {
		width: 70%;
		font-size: 30px;
		font-weight: 550;
		margin-bottom: 15px;
		margin-top: 35px;
	}
	@media(max-width: 960px) {
		font-size: calc(#{$h1-font-height} / 3);
		font-weight: calc(#{$h1-font-width} / 1.5);
		margin-top: calc(#{$h1-margin-top} / 2);
		margin-bottom: calc(#{$h1-margin-bottom} / 2);
	}
	@media(max-width: 720px) {
		font-size: calc(#{$h1-font-height} / 3);
		font-weight: calc(#{$h1-font-width} / 2);
		margin-top: calc(#{$h1-margin-top} / 3);
		margin-bottom: calc(#{$h1-margin-bottom} / 3);
	}
	@media(max-width: 500px) {
		width: 70%;
		font-size: calc(#{$h1-font-height} / 4);
		font-weight: calc(#{$h1-font-width} / 2	);
		margin-top: calc(#{$h1-margin-top} / 4);
		margin-bottom: calc(#{$h1-margin-bottom} / 4);
	}
}


h2 {
	cursor: pointer;
	max-width: 100%;
	height: 31px;
	color: $white-color;
	font-family: "San Francisco Display";
	font-size: 35px;
	font-weight: 700;
	letter-spacing: -0.84px;
	line-height: 31px;
	text-transform: uppercase;
	@media(max-width: 1600px) {
		font-size: 30px;
		font-weight: 600;
		margin-bottom: 5px;
	}
	@media(max-width: 960px) {
		font-size: calc(#{$h1-font-height} / 3);
		font-weight: calc(#{$h1-font-width} / 1.5);
		margin-top: calc(#{$h1-margin-top} / 2);
		margin-bottom: calc(#{$h1-margin-bottom} / 2);
	}
	@media(max-width: 720px) {
		font-size: calc(#{$h1-font-height} / 3);
		font-weight: calc(#{$h1-font-width} / 2);
		margin-top: calc(#{$h1-margin-top} / 3);
		margin-bottom: calc(#{$h1-margin-bottom} / 3);
	}
	@media(max-width: 500px) {
		width: 70%;
		font-size: calc(#{$h1-font-height} / 4);
		font-weight: calc(#{$h1-font-width} / 2	);
		margin-top: calc(#{$h1-margin-top} / 4);
		margin-bottom: calc(#{$h1-margin-bottom} / 4);
	}
}

h2:hover {
	color: $menu-hover-color;
}

h2:active {
	color: $white-color;
	@media (hover: none) {
		color: $menu-hover-color;
	}
}

.jobs-item {
	width: 100%;
}

$p-font-size: 35px;
$p-font-width: 400;
$p-margin-top: 20px;

p.light {
	width: 100%;
	height: auto;
	color: $white-color;
	font-family: "SF Pro Display";
	font-size: 25px;
	font-weight: 300;
	letter-spacing: -0.6px;
	margin: 0;
	@media(max-width: 1600px) {
		max-width: 500px;
	}
	@media(max-width: 1400px) {
		font-size: calc(#{$p-font-size} / 3);
		font-weight: calc(#{$p-font-width} / 2);
		margin-top: calc(#{$p-margin-top} / 2);
	}
	@media(max-width: 960px) {
		font-size: calc(#{$p-font-size} / 3);
		font-weight: calc(#{$p-font-width} / 3);
		margin-top: calc(#{$p-margin-top} / 3);
	}
	@media(max-width: 720px) {
		font-size: calc(#{$p-font-size} / 4);
		font-weight: calc(#{$p-font-width} / 4);
		margin-top: calc(#{$p-margin-top} / 4);
	}
	@media(max-width: 500px) {
		font-size: calc(#{$p-font-size} / 5);
		font-weight: calc(#{$p-font-width} / 5);
		margin-top: calc(#{$p-margin-top} / 5);
	}
}

h2.active {
	color: $menu-hover-color;
}

.card-text {
	display: flex;
	position: relative;
	flex-direction: column;
	position: relative;
	z-index: 1;
	top: 0;
	left: 13%;
}

.card-text.fixed {
	margin-top: $menu-height;
	@media(max-width: 1400px) {
		margin-top: $menu-small-height;
	}
	@media(max-width: 960px) {
		margin-top: calc(#{$menu-small-height} / 2);
	}
}



p {
	width: 40%;
	height: 2%;
	color: #000000;
	font-family: "San Francisco Display";
	font-size: $p-font-size;
	font-weight: $p-font-width;
	letter-spacing: -0.84px;
	z-index: 0;
	@media(max-width: 960px) {
		font-size: calc(#{$p-font-size} / 4);
		font-weight: calc(#{$p-font-width} / 3);
	}	
	@media(max-width: 1700px) {
		width: 70%;
		font-size: 30px;
		font-weight: 350;
		margin-top: 20px;
	}
	@media(max-width: 1400px) {
		font-size: calc(#{$p-font-size} / 3);
		font-weight: calc(#{$p-font-width} / 2);
		margin-top: calc(#{$p-margin-top} / 2);
	}
	@media(max-width: 960px) {
		font-size: calc(#{$p-font-size} / 3);
		font-weight: calc(#{$p-font-width} / 3);
		margin-top: calc(#{$p-margin-top} / 3);
	}
	@media(max-width: 720px) {
		font-size: calc(#{$p-font-size} / 4);
		font-weight: calc(#{$p-font-width} / 4);
		margin-top: calc(#{$p-margin-top} / 4);
	}
	@media(max-width: 500px) {
		font-size: calc(#{$p-font-size} / 5);
		font-weight: calc(#{$p-font-width} / 5);
		margin-top: calc(#{$p-margin-top} / 5);
	}
}

.container.menu {
	flex-direction: row;
	justify-content: flex-start;
	height: $menu-height;
	z-index: 120;
	opacity: 1.0;
	transition: all 0.3s ease 0s;
	@media(max-width: 1400px) {
		height: $menu-small-height;
	}
	@media(max-width: 960px) {
		height: calc(#{$menu-small-height} / 2);
	}
}

.container.menu.fixed {
	position: fixed;
	top: 0;
}

.burger-button {
	display: none;
	margin: 20px 20px 20px 40px;
}

@media(max-width: 640px) {
	.burger-button {
		display: block;
		position: relative;
		width: 40px;
		height: 30px;
	}
	.burger-button:before,
	.burger-button:after {
		content: '';
		position: absolute;
		background-color: $white-color;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all 0.3s ease 0s;
	}
	.burger-button span {
		position: absolute;
		background-color: $white-color;
		left: 0;
		width: 100%;
		height: 2px;
		top: 14px;
		transition: all 0.3s ease 0s;
	}
	.burger-button:before {
		top: 0;
	}
	.burger-button:after {
		bottom: 0;
	}
	.menu-item {
		display: none
	}
}

.burger-button.active:before {
	transform: rotate(45deg);
	top: 13px;
}
.burger-button.active:after {
	transform: rotate(-45deg);
	top: 13px;
}
@media(max-width: 1700px) {
		max-width: 30%;
		max-height: 90%;
	}

.burger-button.active span {
	transform: scale(0);
}

.menu-item.active {
	display: block;
	text-align: left;
}

.container.menu.active {
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	height: 40vh;
}

.examples {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}


.jobs {
	display: flex;
	width: 70%;
	flex-direction: column;
	margin: 0 20px 0 100px;
	@media(max-width: 1800px) {
		margin: 0 25px 0 50px;
	}
	@media(max-width: 1400px) {
		margin: 0 15px 0 35px;
	}
	@media(max-width: 1000px) {
		flex-direction: row;
		margin-left: 20px;
		width: 100%;
	}
	@media(max-width: 720px) {
		flex-direction: column;
		align-items: center;
	}
}

.preload-one-image {
	display: none;
}

.preload-all-images {
	display: none;
}

.container.work {
	flex-direction: row;
	height: calc(100vh - #{$menu-height});
	background: $work-color;
	padding-bottom: 1px;
	@media(max-width: 1400px) {
		height: calc(100vh - #{$menu-small-height});
	}
	@media(max-width: 1000px) {
		flex-direction: column;
	}
	@media(max-width: 960px) {
		height: calc(100vh - (#{$menu-small-height} / 2));
	}
	@media(max-width: 720px) {
		height: calc(200vh - #{$menu-small-height} * 2);
	}
}

#member1 {
	background: $member1-img;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

#member2 {
	background: $member2-img;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

#member3 {
	background: $member3-img;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

#member4 {
	background: $member4-img;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

$member-img-width: 205px;
$member-img-height: 157px;
$member-img-margin: 20px;

.member-photo {
	margin: 20px;
	position: relative;
	width: $member-img-width;
	height: $member-img-height;
	top: 0;
	left: 0;
	@media(max-width: 1920px) {
		width: calc(#{$member-img-width} / 1.2);
		height: calc(#{$member-img-height} / 1.2);
		margin: calc(#{$member-img-margin} / 1.2);
	}
	@media(max-width: 1800px) {
		width: calc(#{$member-img-width} / 1.8);
		height: calc(#{$member-img-height} / 1.8);
		margin: calc(#{$member-img-margin} / 1.8);
	}
	@media(max-width: 1600px) {
		width: calc(#{$member-img-width} / 2.5);
		height: calc(#{$member-img-height} / 2.5);
		margin: calc(#{$member-img-margin} / 2.5);
	}
	@media(max-width: 1400px) {
		width: calc(#{$member-img-width} / 3);
		height: calc(#{$member-img-height} / 3);
		margin: calc(#{$member-img-margin} / 3);
	}
	@media(max-width: 960px) {
		width: calc(#{$member-img-width} / 4);
		height: calc(#{$member-img-height} / 4);
		margin: calc(#{$member-img-margin} / 4);
	}
	@media(max-width: 720px) {
		width: calc(#{$member-img-width} / 5);
		height: calc(#{$member-img-height} / 5);
		margin: calc(#{$member-img-margin} / 5);
	}
	@media(max-width: 500px) {
		width: calc(#{$member-img-width} / 6);
		height: calc(#{$member-img-height} / 6);
		margin: calc(#{$member-img-margin} / 6);
	}
}

$small-font-size: 1.2em;
$small-font-weight: 400;

small {
	width: 100%;
	height: 100%;
	color: rgba(0, 0, 0, 0.5);
	font-family: "San Francisco Display";
	font-size: 1.2em;
	font-weight: 400;
	letter-spacing: -0.48px;
	text-transform: uppercase;
	margin-left: $member-img-margin;
	@media(max-width: 960px) {
		font-size: calc(#{$small-font-size} / 2);
		font-weight: calc(#{$small-font-weight} / 2);
		margin-left: calc(#{$member-img-margin} / 2);
	}
	@media(max-width: 720px) {
		font-size: calc(#{$small-font-size} / 3);
		font-weight: calc(#{$small-font-weight} / 3);
		margin-left: calc(#{$member-img-margin} / 3);
	}
	@media(max-width: 500px) {
		font-size: calc(#{$small-font-size} / 4);
		font-weight: calc(#{$small-font-weight} / 4);
		margin-left: calc(#{$member-img-margin} / 4);
	}
}

.card-text.members {
	height: 60%;
	width: 100%;
	top: 0;
	left: 0;
	margin-right: 0;
	display: flex;
	flex-direction: column;
}

.group-members {
	display: flex;
	flex-direction: row;
}

.our-team {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	top: 0;
	width: 100%;
	height: 80%;
}

.work-image {
	margin: 15px;
	opacity: 0;
	transition: all .7s ease-in;
	animation-duration: 1s;
	animation-name: viewin;
	@media(max-width: 1000px) {
		margin: 5px;
	}
}

@keyframes viewin {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.hide {
	opacity: 1;
	transition: all .7s ease-out;
	animation-duration: 1s;
	animation-name: viewout;
}

@keyframes viewout {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

.show {
	opacity: 1;
}

.work-image:active {
	@media (hover: none) {
		transform: scale(1.1);
	}
}

.work-image:hover {
	transform: scale(1.1);
}


.carousel {
	display: flex;
	flex-direction: row;
	align-items: center;
	top: 0;
	left: 0;
	width: 80%;
	height: 80%;
	z-index: 66;
	@media(max-width: 750px) {
		margin-left: auto;
		width: 100%;
	}
}

.card-text.team {
	left: 0;
	top: 0;
	margin-top: 20px;
}

$em: 35px;

h1.team {
	height: auto;
	width: 80%;
	@media(max-width: 1400px) {
		font-size: 1em;
	}
	@media(max-width: 960px) {
		font-size: calc(#{$em} / 2);
	}
	@media(max-width: 720px) {
		font-size: calc(#{$em} / 3);
	}
	@media(max-width: 500px) {
		font-size: calc(#{$em} / 4);
	}
}

p.team {
	width: 80%;
	@media(max-width: 960px) {
		font-size: calc(#{$em} / 2);
	}
	@media(max-width: 720px) {
		font-size: calc(#{$em} / 3);
	}
	@media(max-width: 500px) {
		font-size: calc(#{$em} / 4);
	}
}

$p-member-name-height: 1em;
$p-member-name-width: 700;

p.member-name {
	width: 80%;
	height: 100%;
	color: #000000;
	font-family: "San Francisco Display";
	font-size: 1em;
	font-weight: 700;
	margin-left: $member-img-margin;
	letter-spacing: -0.48px;
	@media(max-width: 960px) {
		font-size: calc(#{$p-member-name-height} / 2);
		font-weight: calc(#{$p-member-name-width} / 2);
		margin-left: calc(#{$member-img-margin} / 2);
	}
	@media(max-width: 720px) {
		font-size: calc(#{$p-member-name-height} / 3);
		font-weight: calc(#{$p-member-name-width} / 3);
		margin-left: calc(#{$member-img-margin} / 3);
	}
	@media(max-width: 960px) {
		font-size: calc(#{$p-member-name-height} / 4);
		font-weight: calc(#{$p-member-name-width} / 4);
		margin-left: calc(#{$member-img-margin} / 4);
	}
}


.card-text.memers {
	height: 60%;
}